body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 30px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #3498db;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #eaf4fc;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

.hidden {
  display: none;
}

button {
  background-color: #3498db;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #34495e;
}
